In [109]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [146]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

25/01/12 04:50:22 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [156]:
import os

file_path = "/Users/latifahjones/Desktop/Home_Sales/Resources/home_sales_revised.csv"
print(os.path.exists(file_path))  # This should return True if the file exists

True

In [158]:
df = spark.read.option("charset", "UTF-16").csv(file_path, header=True, inferSchema=True)
df.show()

+-------------------------------+----------+
|        偁刱ᔀᖦ븕ᖞ�틎밌ᰕ젅ᔀᔆᔈ 鏟|date_built|
+-------------------------------+----------+
|      㐝 >ăﺂāϾ됁ԐᨁϾ蠁৴愱᠁Ͼ㨁...|      NULL|
|    逆ᰕ봇ᔀᔆᔈ �뾽氄䈀 礆偸८...|      NULL|
| ꣯뾽㽨吢䡸䀌౤㐹ⴎ㹇ᐹ愹挶㕍şࠔ␒...|      NULL|
|Ⱐ⨜᐀夁伀㰥椁䘈─ᴁ狴鬁尯䰕䰰ᠸ㡢...|      NULL|
|       ჯ뾽錃ቤ䔔㐌ฌၰՠ ఔတฅడĎࠑŹ...|      NULL|
| 㺐缀 呸ĩѠ㔁ᐔ䰶㍢ⴹ๜䘰ㄷ㠒恰ౢ...|      NULL|
|쀰⁄㔷㈭戴㔰ⵥ㑦㤶㐱㠒ଓఎ࠷㥥渀ᤖ...|      NULL|
|     መᔈӃ긎專뀄щċ†Ѱ⬅昄䌃๺崀 ...|      NULL|
|  䠣⠀a洐ἐ愱扡๗簎戴ƍ࠺欎⇆䐌ࠔ堀...|      NULL|
| ᐃȀ\屐ᐲㄱㄷㄒ搎帙ቲ᠜䘘㝡捥懯...|      NULL|
|    ఻ሻ䰎ﰎ๚ደ㱌⡄̴昲㙡ᘸᴌ〴ㄶ๜感...|      NULL|
| ိ挶晡ᘨḈ戹㘒杗ᰱ㉤ぢ㈳ㄅ⠄〷โ...|      NULL|
|  选ᬄ慣๋๸Ḝᰵ㜭㕢㈹敋ࠤe䅒␈夈搖...|      NULL|
|       气ᐐъअሙ᰸ఄĐ᠔ᘌЀ᥂Ď嚁㛰䁌...|      NULL|
|        Ձ❈଄ሾ⥍๸ᆸ吐 t䴑ሀȁ洰ऀ㜧...|      NULL|
|      ⵸ᝩ爁ୈौ㰣 尢 㴵 瀟 ∅ᜡ⸎...|      NULL|
|                              ฑ|      NULL|
|    ꡜ䰖唹䰌ㄶⵦ๼̀ࡦ㜶๪ᘌበ与瑀⠽...|      NULL|
|ᙠ繜䑀ᐼ㜵ⵢ㥣〭摦㤲攱、ᘄ砐瀋...|      NULL|
|     ࿰慎प␀㘎圛ဴ昹ⴒؕࠋ࠴ᙤḰ䠀搎ࠛ...|      NULL|
+-------------------------------+----------+
only showing top 20 rows

In [160]:
df = spark.read.option("delimiter", ";").csv(file_path, header=True, inferSchema=True)
df.show()

+-----------------------------------+----------+
|PAR1 ������μ\f� \b  ��|date_built|
+-----------------------------------+----------+
|               4   >����...|      NULL|
|               ��\a \b  ڪ...|      NULL|
|               ��?hT"Hx@\f\fd49-...|      NULL|
|               , * YO <%iF\b...|      NULL|
|               ��dE4\f\fp...|      NULL|
|               >�   Tx)`5L...|      NULL|
|               �0 D572-b450-e4f9...|      NULL|
|                \bî\\b�I...|      NULL|
|               H#(  ama1baW|...|      NULL|
|               �C  \\P211171...|      NULL|
|                                 \f|      NULL|
|               �!-c6fa(\bb96...|      NULL|
|               �\tacKx57-...|      NULL|
|               lJ\t8\f ...|      NULL|
|                A'H\v>)Mx�...|      NULL|
|               �F-xir\vH\tL<# ...|      NULL|
|               �\LU9L\f16-f| ...|      NULL|
|               �>`~\D@<75-b9c0...|      NULL|
|               �aN\t*$ 6W4f9...|      NULL|
|                 V$b160saea...|      NULL|
+-----------------------------------+----------+
only showing top 20 rows

In [152]:
# Check if the file exists
if os.path.exists(file_path):
    try:
        # Read the CSV file into a DataFrame
        df = spark.read.csv(file_path, header=True, inferSchema=True)
        
        # Create a temporary view of the DataFrame
        df.createOrReplaceTempView("home_sales")
        
        # Display the DataFrame to confirm it loaded correctly
        df.show()
    except Exception as e:
        print(f"Error reading the CSV file: {e}")
else:
    print(f"The file does not exist at the specified path: {file_path}")

+-----------------------------------+----------+
|PAR1 ������μ\f� \b  ��|date_built|
+-----------------------------------+----------+
|               4   >����...|      NULL|
|               ��\a \b  ڪ...|      NULL|
|               ��?hT"Hx@\f\fd49-...|      NULL|
|                               NULL|      NULL|
|               ��dE4\f\fp...|      NULL|
|               >�   Tx)`5L...|      NULL|
|               �0 D572-b450-e4f9...|      NULL|
|                \bî\\b�I...|      NULL|
|               H#(  ama1baW|...|      NULL|
|               �C  \\P211171...|      NULL|
|               \f;;L�Z�<L(D...|      NULL|
|               �!-c6fa(\bb96...|      NULL|
|               �\tacKx57-...|      NULL|
|               lJ\t8\f ...|      NULL|
|                A'H\v>)Mx�...|      NULL|
|               �F-xir\vH\tL<# ...|      NULL|
|               �\LU9L\f16-f| ...|      NULL|
|               �>`~\D@<75-b9c0...|      NULL|
|               �aN\t*$ 6W4f9...|      NULL|
|                 V$b160saea...|      NULL|
+-----------------------------------+----------+
only showing top 20 rows

In [113]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
average_price_query = """
SELECT
    YEAR(date) AS year,
    ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR(date)
ORDER BY year
"""

average_price_df = spark.sql(average_price_query)
average_price_df.show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `bedrooms` cannot be resolved. Did you mean one of the following? [`date_built`, `PAR1 ������μ�   ��`].; line 6 pos 6;
'Sort ['year ASC NULLS FIRST], true
+- 'Aggregate ['YEAR('date)], ['YEAR('date) AS year#6809, 'ROUND('AVG('price), 2) AS average_price#6810]
   +- 'Filter ('bedrooms = 4)
      +- SubqueryAlias home_sales
         +- View (`home_sales`, [PAR1 ������μ�   ��#6793,date_built#6794])
            +- Relation [PAR1 ������μ�   ��#6793,date_built#6794] csv

In [ ]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
average_price_built_query = """
SELECT 
    date_built AS year_built, 
    ROUND(AVG(price), 2) AS average_price 
FROM 
    home_sales 
WHERE 
    bedrooms = 3 AND bathrooms = 3 
GROUP BY 
    date_built 
ORDER BY 
    year_built
"""

# Run the query and create a DataFrame
average_price_built_df = spark.sql(average_price_built_query)

# Show the results
average_price_built_df.show()

In [ ]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
average_price_built_query = """
SELECT 
    date_built AS year_built, 
    ROUND(AVG(price), 2) AS average_price 
FROM 
    home_sales 
WHERE 
    bedrooms = 3 
    AND bathrooms = 3 
    AND floors = 2 
    AND sqft_living >= 2000 
GROUP BY 
    date_built 
ORDER BY 
    year_built
"""

# Run the query and create a DataFrame
average_price_built_df = spark.sql(average_price_built_query)

# Show the results
average_price_built_df.show()

In [ ]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

# Start the timer
start_time = time.time()

# SQL query to calculate the average price of homes per view rating
average_price_view_query = """
SELECT 
    view, 
    ROUND(AVG(price), 2) AS average_price 
FROM 
    home_sales 
WHERE 
    price >= 350000 
GROUP BY 
    view 
ORDER BY 
    view DESC
"""

# Run the query and create a DataFrame
average_price_view_df = spark.sql(average_price_view_query)

# Show the results
average_price_view_df.show()

# Calculate and print the runtime
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# 7. Cache the the temporary table home_sales.
spark.sql("CACHE TABLE home_sales")

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

In [ ]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

average_price_view_query = """
SELECT 
    view, 
    ROUND(AVG(price), 2) AS average_price 
FROM 
    home_sales 
WHERE 
    price >= 350000 
GROUP BY 
    view 
ORDER BY 
    view DESC
"""

# Start the timer for the cached query
start_time = time.time()

# Run the query using the cached data and create a DataFrame
average_price_view_cached_df = spark.sql(average_price_view_query)

# Show the results
average_price_view_cached_df.show()

# Calculate and print the runtime for the cached query
print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# 11. Read the formatted parquet data.
# Define the output path for the partitioned Parquet data
output_path = "/Users/latifahjones/Desktop/Home_Sales/Resources/home_sales_partitioned"

# Read the formatted Parquet data back into a DataFrame
df_parquet = spark.read.parquet(output_path)

# Show the DataFrame to verify the data
df_parquet.show()

In [ ]:
output_path = "/Users/latifahjones/Desktop/Home_Sales/Resources/"
df_parquet = spark.read.parquet(output_path)
df_parquet.show()

In [ ]:
# 12. Create a temporary table for the parquet data.

In [ ]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()



print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
# 14. Uncache the home_sales temporary table.

In [ ]:
# 15. Check if the home_sales is no longer cached